<a href="https://colab.research.google.com/github/luigir123/Especializacion-Luigi/blob/main/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
nombre = input("Cual es tu nombre")
print("Hola mucho gusto:", nombre)

Cual es tu nombreLuigi
Hola mucho gusto: Luigi

In [14]:
import random

numero_persona = int(input("Dame un número: "))

# La máquina decide par o impar
eleccion_maquina = random.choice(["par", "impar"])

print("Tu número es:", numero_persona)
print("La máquina eligió:", eleccion_maquina)

# Determinar si el número es par o impar
if numero_persona % 2 == 0:
    resultado = "par"
else:
    resultado = "impar"

print("El número es:", resultado)

# Ver quién gana
if resultado == eleccion_maquina:
    print("¡Ha ganado la máquina, MATRIX!")
else:
    print("¡Ha ganado la persona!")

Dame un número: 1
Tu número es: 1
La máquina eligió: impar
El número es: impar
¡Ha ganado la máquina, MATRIX!

In [15]:
import hashlib
data = input("dame un texto")
encoded_data = data.encode('utf-8')
print ("encode_data", encoded_data)
md5_hash = hashlib.md5()
md5_hash.update(encoded_data)
print()

In [18]:
import pandas as pd

ruta_archivo = "/content/sample_data/california_housing_test.csv"
datos = pd.read_csv(ruta_archivo)

datos.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [29]:
import pandas as pd

ruta_archivo = "/content/compras_semana.csv"

datos = pd.read_csv(ruta_archivo)
datos['total'] = datos['precio'] * datos['cantidad']

total_compras= datos['total'].sum()
print("Total de compras:", total_compras)

promedio_compras = datos['total'].mean()
print("Promedio de compras:", promedio_compras)

mediana_compras = datos['total'].median()
print("Mediana de compras:", mediana_compras)

compra_minima = datos['total'].min()
print("Compra mínima:", compra_minima)

std = datos['total'].std()
print("Desviación estándar:", std)

var = datos['total'].var()
print("Varianza:", var)

resgistro_conteo = datos['total'].count()
print("Registro de conteo:", resgistro_conteo)

datos['total'].describe()

Total de compras: 44.699999999999996
Promedio de compras: 4.47
Mediana de compras: 3.55
Compra mínima: 2.4
Desviación estándar: 2.6637692592765365
Varianza: 7.095666666666667
Registro de conteo: 10

count    10.000000
mean      4.470000
std       2.663769
min       2.400000
25%       2.625000
50%       3.550000
75%       4.700000
max      10.000000
Name: total, dtype: float64

In [30]:
datos.describe()

          precio   cantidad      total
count  10.000000  10.000000  10.000000
mean    2.970000   2.100000   4.470000
std     2.383298   1.449138   2.663769
min     0.800000   1.000000   2.400000
25%     1.275000   1.000000   2.625000
50%     2.250000   1.500000   3.550000
75%     3.725000   2.750000   4.700000
max     8.500000   5.000000  10.000000

In [31]:
import pandas as pd
ruta_archivo = "/content/peliculas_favoritas.json"

datos=pd.read_json(ruta_archivo)
datos

                titulo   año  puntuacion  duracion_minutos           genero
0  El viaje de Chihiro  2001         8.9               125        Animación
1     La vida es bella  1997         8.6               116            Drama
2         Pulp Fiction  1994         8.5               154           Crimen
3               Matrix  1999         8.7               136  Ciencia ficción
4         Forrest Gump  1994         8.8               142            Drama
5            Inception  2010         8.8               148  Ciencia ficción

In [32]:
datos.describe()

               año  puntuacion  duracion_minutos
count     6.000000    6.000000          6.000000
mean   1999.166667    8.716667        136.833333
std       5.980524    0.147196         14.288690
min    1994.000000    8.500000        116.000000
25%    1994.750000    8.625000        127.750000
50%    1998.000000    8.750000        139.000000
75%    2000.500000    8.800000        146.500000
max    2010.000000    8.900000        154.000000